html, body {
	background-image: url("../images/background-collaboration.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	font-family: "Raleway";

	padding: 0px;
	margin: 0px;
	height: 100%;
	
	display: block;
}

.container {
	position: relative;
	min-height: 100%;
}

/*********************************************
 * Header
 *********************************************/

.header {
	padding: 15px;
	text-align: right;
}

.header menu {
	vertical-align: middle;
	list-style: none;
	display: inline;
	color: #314559;
	padding: 0px;
	margin: 0px;
	width: 50%;
}

.header menu li {
	display: inline;
	padding: 15px;
	vertical-align: middle;
}

.header menu li a {
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	color: #314559;
}

.header menu li a:hover {
	background-color: #832e4f;
	color: white;
}

.header menu li a.active {
	background-color: #832e4f;
	color: white;
}

.header .flags {
	display: inline-block;
	margin-right: 40px;
	float: right;
}

/*********************************************
 * Title
 *********************************************/

.image-container {
	background-image: url("../images/pattern.jpg");
	background-repeat: repeat;
	background-color: #933b51;
	padding-bottom: 20px;
	text-align: center;
	padding-top: 20px;
	margin: 0px;
	width: 100%;
	color: white;
}

.image-container img.logo {
	width: 25em;
	max-width: 95%;
}

.image-container h1 {
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}

/*********************************************
 * Content
 *********************************************/

.content {
	padding-top: 10px;
	padding-bottom: 60px; /* Height of the footer */
}


.content .box-container {
	text-align: center;
	margin-top: 10px;
}

.content .box-container .box {
	background-size: 100% 100%;
	width: 300px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	margin: 15px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(255, 225, 225, .5);
	color: white;
}

.content .box-container .box h1 {
	font-size: large;
	font-weight: bold;
	width: 100%;
	text-align: center;
	color: #832e4f;
	padding-bottom: 5px;
}

.content .box-container .box p {
	font-size: medium;
	text-align: center;
	line-height: 1.5;
	color: black;
}

.content .box-container .box a {
	text-decoration: none;
	font-weight: bold;
	color: #CC0000;
	text-shadow: none;
}

/*********************************************
 * Footer
 *********************************************/

.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px; /* Height of the footer */
	color: white;
}

.footer p {
	background-color: transparent;
	border-top: 1px solid #eee;
	margin-right: auto;
	margin-left: auto;
	font-size: small;
	padding: 5px;
	width: 90%;
}

/*********************************************
 * Team
 *********************************************/
 .team {
 	display: block;
 	text-align: center;
 }
 
 .team .role-group {
 	display: block;
 }
 
 .team .role-group h1 {
 	font-size: x-large;
 }
 
.team .role-group figure {
  background-color: transparent;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  height: 150px;	
  padding: 5px; 
  vertical-align: top;
}

.team .role-group figure img {
	display: block;
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	border-radius: 100%;
}
 
.team .role-group figure figcaption {
  text-align: center;
  width: 100%;
  bottom: 0px;
  color: #3333333;
  font-weight: bold;
  height: 40px;
  display: block;
  font-size: 10pt;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

/*********************************************
 * Contact
 *********************************************/
 .contact {
 	margin-top: 15px;
 	display: block;
 	text-align: center;
 }
 
 .contact ul, .contact iframe {
 	vertical-align: top;
 	margin-top: 10px;
 }
 
 .contact ul {
	width: 45%;
	display: inline-block;
	padding: 10px;
	padding-top: 0px;
	background-color: rgba(200, 200, 200, 0.45);
	border-radius: 10px;
	min-width: 400px;
	height: 250px;
 }
 
 .contact ul li {
 	padding: 0px;
 	display: block;
 	text-align: left;
 	padding-left: 40px;
 	vertical-align: middle;
	background-position: left top;
 	font-size: medium;
 	margin-top: 10px;
 	min-height: 24px;
 	
 }
 
 .contact ul li.title {
 	padding-left: 0px;
 }
 
 .contact ul li.email {
 	background-image: url("../images/email.png");
 	background-repeat: no-repeat;
 }
 
 .contact ul li.phone {
 	background-image: url("../images/phone.png");
 	background-repeat: no-repeat;
 }
 
 .contact ul li.address {
 	background-image: url("../images/address.png");
 	background-repeat: no-repeat;
 	line-height: 1.5;
 }
 
 .contact .map {
 	height: 200px;
 	width: 45%;
 	border: 0px;
 	display: inline-block;
 	border: 5px solid white;
 	border-radius: 10px;
 	min-width: 400px;
 	height: 250px;
 }