html {
	font-family: "Raleway";
}

header {
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	height: 30px;
	
	background-image: url("../images/background.png");
	background-repeat: repeat;
	background-color: grey;
	
	padding: 15px 15px 15px 15px;
	
	z-index: 1000000;
}

menu {
	padding: 0px;
	margin: 0px;
	list-style: none;
	color: white;
	vertical-align: middle;
	width: 50%;
	display: inline;
}

menu li {
	display: inline;
	padding: 15px;
	vertical-align: middle;	
}

menu li a {
  color: #314559;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 10px;
}

menu li a:hover {
	background-color: rgba(189, 25, 25, 0.67);
}

#internationalization {
	margin-right: 40px;
	float: right;
	display: inline-block;
}

body {
	margin: 0px;
	padding: 0px;
	padding-bottom: 50px;
	padding-top: 60px;
	background-color: #1B7CA5;
	background-image: url("../images/background.png");
	background-repeat: repeat;
}

.odd {
	background-color: #1B7CA5;
	color: white;
	background-image: url("../images/background.png");
	background-repeat: repeat;
	text-shadow: #494f57 1px 1px, #494f57 2px 2px;
}

.even {
	color: white;
	background-image: url("../images/background-black.png");
	background-repeat: repeat;
	text-shadow: #494f57 1px 1px, #494f57 2px 2px;
}

.content {
	page-break-after:always;
	text-align: center;
/* 	border-top: 3px solid rgba(189, 25, 25, 0.67); */
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
	height: 99%;
	padding-top: 1%;
}

.content .image-container img.logo {
	width: 25em;
	max-width: 95%;
}

.content .image-container img.steps {
	width: 50em;
	max-width: 95%;
	display: inline-block;
}

.content h1 {
	font-size: 2em;
}

.content .two-column {
	margin: auto;
	width: 97%;
	border-top: 4px double;
	border-bottom: 4px double;
	vertical-align: top;
}

.content p, body .content * p {
	text-align: left;
	font-size: 100%;
	line-height: 150%;
}

.content .two-column p {
	vertical-align: top;
	width: 45%; 
	display: inline-block; 
	padding: 5px;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	border-top: 3px solid rgba(189, 25, 25, 0.67);	
	background-color: #f0f0f0;
	color: black;
	width: 100%;
	padding: 0px;
}

footer p {
	padding-left: 5px;
}

img.wrap-text {
	float: left; margin: 0px 10px 5px 0px;
}

button.accessibility {
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0px;
}

a.boxclose {
	display: block;
    background-image: url("../images/close.png");
    background-size: 24px 24px;
    text-decoration: none;
    width: 24px;
    height: 24px;
/*     margin-left: 95%; */
    padding: 0;
}