html, body {
	background-image: url("../images/background-collaboration.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	
	font-family: "Raleway";
	
	padding: 0px;
	margin: 0px;
	height: 100%;
	
	display: block;
}

body div {
	display: block;
}

.container {
	position: relative;
	min-height: 100%;
}

.header {
	padding: 15px;
	text-align: right;
}

.header menu {
	padding: 0px;
	margin: 0px;
	list-style: none;
	vertical-align: middle;
	width: 50%;
	display: inline;
	color: #314559;
}

.header menu li {
	display: inline;
	padding: 15px;
	vertical-align: middle;
}

.header menu li a {
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	color: #314559;
}

.header menu li a:hover {
	background-color: #832e4f;
	color: white;
}

.header .flags {
	display: inline-block;
	margin-right: 40px;
	float: right;
}

.content {
	padding-top: 10px;
	padding-bottom: 60px; /* Height of the footer */
}

.content .image-container {
	background-image: url("../images/pattern.jpg");
	background-repeat: repeat;
	background-color: #933b51;
	padding-bottom: 20px;
	text-align: center;
	padding-top: 20px;
	margin: 0px;
	width: 100%;
	color: white;
}

.content .image-container img.logo {
	width: 25em;
	max-width: 95%;
}

.content .image-container h1 {
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}

.content .box-container {
	text-align: center;
	margin-top: 10px;
}

.content .box-container .box {
	background-size: 100% 100%;
	width: 300px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	margin: 15px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(25, 25, 25, .25);
	color: white;
}

.content .box-container .box h1 {
	font-size: large;
	font-weight: bold;
	width: 100%;
	text-align: center;
	color: white;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
	text-shadow: -1px 1px #333333;
}

.content .box-container .box p {
	font-size: medium;
	text-align: left;
	line-height: 1.5;
	text-shadow: -1px 1px gray;
	color: white;
}

.content .box-container .box a {
	text-decoration: none;
	font-weight: bold;
	color: #CC0000;
	text-shadow: none;
}

.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px; /* Height of the footer */
	color: white;
}

.footer p {
	background-color: transparent;
	border-top: 1px solid #eee;
	margin-right: auto;
	margin-left: auto;
	font-size: small;
	padding: 5px;
	width: 90%;
}